# This workflow will install Python dependencies, and test the model with a single version of Python

name: Model Quality Gate

on:
  push:
  pull_request:

jobs:
  quality_control:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test the model
        run: |
          python tests/test_model.py 
